![](https://i.imgur.com/0AUxkXt.png)

# SF Salaries Exercise 

Explore San Francisco city employee salary data.

## Overview

One way to understand how a city government works is by looking at who it employs and how its employees are compensated. This data contains the names, job title, and compensation for San Francisco city employees on an annual basis from 2011 to 2014.



Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

## Resources

[Pandas API Reference](https://pandas.pydata.org/pandas-docs/stable/api.html)

[NumPy Reference](https://docs.scipy.org/doc/numpy/reference/)

[Visualization with Seaborn](https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html)

**Import libraries**

In [ ]:
import pandas as pd
import seaborn as sns

**Read `Salaries.csv` as a dataframe called `sal`.**

In [ ]:
link = "https://s3-ap-southeast-1.amazonaws.com/intro-to-ml-minhdh/Salaries.csv"
sal = pd.read_csv(link)

**Check the head of the DataFrame.**

In [ ]:
sal.head(10)

**Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info()

**What is the average BasePay ?**

Keyword: [mean](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mean.html)

In [ ]:
# Your Code Here
sal.mean()

**What is the lowest and highest amount of BasePay?**

Keyword: 
[min](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html) , 
[max](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.max.html)

In [ ]:
# Your Code Here
sal.max()

In [ ]:
# Your Code Here
sal.min()

**How about OvertimePay in the dataset? What is the average, lowest, highest amount?**

In [ ]:
# Your Code Here
sal.groupby('OvertimePay').average()

In [ ]:
# Your Code Here
sal.groupby('OvertimePay').min()

In [ ]:
# Your Code Here
sal.groupby('OvertimePay').max()

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
# Your Code Here

In [ ]:
# Now try to select Employees who have name "GARY JIMENEZ"
# Your Code Here

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
# Your Code Here
sal.groupby('JOSEPH DRISCOLL').values()

**What is the name of highest paid person (including benefits)?**

In [ ]:
# Your Code Here
sal1 = sal.groupby('luong').max()

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
# Your Code Here
sal1 = sal.groupby('luong').min()

### His benefits were negative

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**
Keyword: _groupby_

In [ ]:
# Your Code Here
sal1 = sal.groupby('year').averge()

**How many unique job titles are there?**

Keyword: _unique, nunique_

In [ ]:
# Your Code Here
sal.groupby('titles').unique()

**What are the top 5 most common jobs?**

Keyword: *value_counts*

In [ ]:
# Your Code Here
sal1 = sal.groupby('common jobs').value_counts()

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
# Your Code Here
sal[sal['Year'] == 2013].groupby('Job Titles').sum()

**How many people have the word Chief in their job title?**

In [ ]:
# Your Code Here
sal[sal['Job Titles'] == 'Chief'].groupby('Job Titles').sum()

## Data Visualization

**Implement seaborn's countplot with x='Year'**

In [ ]:
sns.countplot(x = "Year", data=sal)

**Implement seaborn's distplot for BasePay of Year 2011**

In [ ]:
sns.distplot(sal[sal["Year"] == 2011]["BasePay"], bins = 30);

**How about other Year**

In [ ]:
# Your Code Here for 2012
sns.distplot(sal[sal["Year"] == 2012]["BasePay"], bins = 30);

In [ ]:
# Your Code Here for 2013
sns.distplot(sal[sal["Year"] == 2013]["BasePay"], bins = 30);

In [ ]:
# Your Code Here for 2014
sns.distplot(sal[sal["Year"] == 2014]["BasePay"], bins = 30);

## Bonus

**Visualize top 5 Jobs with BasePay, Benefits and OvertimePay**

Keyword: *index, isin, groupby, mean, plot*

In [ ]:
# Your Code Here
sns.index()
sns.isin()

In [ ]:
# Your Code Here
sns.groupby()
sns.mean()
plot.

**Fun Fact: Is there a correlation between length of the Job Title string and Salary?**

*Hint: corr()*

In [ ]:
# Your Code Here
sns.corr()

# Great Job!